.body{
    margin: 0px;
    padding: 0px;
    background-color: #d8d8d8;
}

.header{
    width: 100%;
    align-items: center;
}

.header img{
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    border: 0px;
    display: block;
    flex-direction: column;
    height: 850px;
    margin-left: -10px;
    margin-right: 100%;
    padding-top: 30px;
    
}
.titulo{
    
    position:relative;
    font-size: 50px;
    text-align: center;
}
.contenedores{
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-around;
    height: 430px;
    margin-top: 50px;
    gap: 80px;
}
.cuadro1, .cuadro2, .cuadro3, .cuadro4 {
    position: static;
    width: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 430px;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px){
    .contenedores{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px){
    .contenedores{
        flex-direction:column;
        width: 100%;
    }
    .cuadro1, .cuadro2, .cuadro3 {
        margin-top: 30px;
        padding: 20px;
    }
}